.jumbotron{
    background: rgb(255, 173, 252);
    background: linear-gradient(90deg, rgba(233,128,229,1) 20%, rgba(249,81,135,1) 54%, rgba(233,128,229,1) 81%);
    color: white;
    text-align: center;
    margin-top: 50px;
}

.btn{
    background-color: rgb(233, 205, 227);
    color: black;
}
footer{
    padding: 10px 10px 0 10px;
    background: rgb(255, 173, 252);
    background: linear-gradient(90deg, rgba(233,128,229,1) 20%, rgba(249,81,135,1) 54%, rgba(233,128,229,1) 81%);
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;

}
 a {
     color: whitesmoke;
     
 }

 a:hover{
    color: white;
 }
.card-hotel{
    flex: 1 150px;
    padding: 2px 2px 5px 5px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
}

.footer-address-icon{
    padding-right: 10px;
}